<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
</head>
<script>
    function getSelf(callback) {
        $.ajax({
            type: 'GET',
            url: '/user/token',
            headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`,
            },
            success: function (response) {
                callback(response.user);
            },
            error: function (xhr, status, error) {
                if (status == 401) {
                    alert('로그인이 필요합니다.');
                } else {
                    localStorage.clear();
                    alert('알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.');
                }
                window.location.href = '/login';
            },
        });
    }
    if (localStorage.getItem("token")) {
        getSelf(function () {
            alert("이미 로그인이 되어있습니다. 메인 페이지로 이동합니다.");
            window.location.href = "/";
        });
    }

    function register() {
        let userId = $('#userId').val();
        let nickname = $('#nickname').val();
        let password = $('#pw').val();
        let passwordConfirm = $('#confirmPw').val();
        console.log(userId, nickname, password, passwordConfirm);

        $.ajax({
            type: "POST",
            url: `/user/register`,
            data: {
                userId: userId,
                nickname: nickname,
                password: password,
                passwordConfirm: passwordConfirm,
            },
            success: function (response) {
                console.log("POST API successful");
                window.location.href = '/';
            },
            error: function (error) {
                window.alert(error.responseJSON.message);
            }
        })
    };
    function noLogin() {
        window.location.href = '/';
    }
</script>

<body>
    <h1>회원가입</h1>

    <div>
        <button onclick="noLogin()">로그인 없이 메인페이지 보기</button>
    </div>
    <div>
        <div>
            ID: <input id="userId" type="text">
        </div>
        
        <div>
            닉네임: <input id="nickname" type="text">
        </div>

        <div>
            비밀번호: <input id="pw" type="password">
        </div>
        <div>
            비밀번호 확인: <input id="confirmPw" type="password">
        </div>

        <div>
            <button onclick="register()">회원가입</button>
        </div>
    </div>
    <div>
        이미 계정이 있다면? <a href="/login">로그인 하기</a>
    </div>
</body>

</html>