<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>게시물 조회!</title>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- jQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- SOCKET.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <script>
        function getSelf(callback) {
            $.ajax({
                type: 'GET',
                url: '/user/token',
                headers: {
                    authorization: `Bearer ${localStorage.getItem('token')}`,
                },
                success: function (response) {
                    callback(response.user);
                },
                error: function (xhr, status, error) {
                    if (status === 401) {
                        alert('로그인이 필요합니다.');
                        // window.location.href = '/login';
                    } else {
                        localStorage.clear();
                        alert('알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.');
                        // window.location.href = '/login';
                    }
                },
            });
        }
        getSelf();

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const postId = urlParams.get("postId");

    

        function getToken() {
            $.ajax({
                type: 'POST',
                headers: {
                    authorization: `Bearer ${localStorage.getItem('token')}`,
                },
                url: `/user/token`,
                data: {
                },
                success: function (response) {
                    console.log('token post api successful');
                
                },
                error: function (error) {
                    console.log('get Token failed...');
                    // window.alert(error.responseJSON.message);
                    // if (error.status === 401) {
                    //     window.location.href = '/login';
                    // }
                }
            })
        }
        getToken();

        
        function signOut() {
            localStorage.clear();
            window.location.href = '/login';
        }
    </script>

</head>

<body>


    <div>
        특정 글 조회 페이지
    </div>
    <div>
        <button onclick="signOut()">로그아웃</button>
    </div>
    <div>

        <div id='title'></div>
        <div id='nickname'></div>
        <div id='updatedAt'></div>
        <div id='content'></div>
    </div>

    <div id="writeComments">
        댓글 작성 <textarea id="comment"></textarea>
    </div>
    <div>
        <button onclick="writeComment()">작성 완료</button>
    </div>


    <div>댓글 목록</div>
    <div id="comments">

    </div>
</body>

</html>